name: generate gif

on:
  schedule:
    - cron: "0 */24 * * *"
  
  workflow_dispatch:

  push:
    branches:
    - main

permissions:
  contents: write

jobs:
  update-game:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: czl9707/gh-space-shooter@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-path: 'game.gif'
          strategy: 'random'
